$color-Primry: #fff;
$color-Primry-gray: rgb(10, 190, 166);
$color-light: rgb(0, 255, 242);
$color-black: rgb(34, 34, 34);
$font-size: 1.5rem;

$bg-header: rgba(0, 80, 146, 0.733);
$mix-button-dark: rgb(91, 212, 172);
$button-dark: rgb(91, 212, 202);
